.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FE5000;
  height: 8vh;
  width: 100%;
  position: absolute;
  z-index: 2
}

.leftInnerContainer {
  margin-left: 5%;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}
