.card-container{
	background-color: #FFFFFF;
	margin: 4% 0 1% 2.5%;
	border-radius: 15px;
	width: 90%;
	height: 150px;
	display: flex;
	align-self: center;
	border-width: 3px;
	border-color: #e8e6e6;
	border-style: solid;
	-webkit-box-shadow: 0px 0px 21px -4px rgba(138,138,138,0.75);
	-moz-box-shadow: 0px 0px 21px -4px rgba(138,138,138,0.75);
	box-shadow: 0px 0px 21px -4px rgba(138,138,138,0.75);
}

.card-content{
	display: flex
}


p{
	font-family: 'Roboto', sans-serif;
}

img{
	border-radius: 15px;
	padding:4% 3% 3% 3% ;
}

.attribites{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.brandModel{
  font-size: 1.1em;
  color:#1c2456;
  font-weight: 600;
  margin: 10% 0 0 0 ;
  word-wrap: break-word;
  max-width: 80%


}

.version{
  font-size: 0.8em;
  color:#b0b0b0;
  font-weight: 500;
  margin: 0 0 5px 0
}


.price{
	margin: 0 0 0 0;

	font-size: 1.2em;
	font-weight: 600;
}

/*input:focus, textarea:focus, select:focus, button:focus{
  outline: none;
}

button:active {
  opacity: 0.5
}


button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}*/


button {
	margin: 0 0 2px 15px;
	background-color: #ff6c2f;
	color: #FFF;
	border-style: none;
	border-radius: 3px
	
}

.valueMore{
	margin: 20% 0 0 0;
	padding: 0;
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	height: auto
}